.body-size {
  width: 400px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.custom-input {
  padding: 10px;
  outline: none;
  border: none;
  font-size: 15px;
}

.custom-btn {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: bolder;
  font-size: 50px;
}
